* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
  --main-color: #1a0b2e;
  --sec-color: #230e3d;
  --third-color: #00ff88;
}
/* share */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}


p {
  color: rgba(255, 255, 255, 0.589);
  line-height: 30px;

}

/* button */

.btn {
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(
    48deg,
    #f7e93f 16.53%,
    #fb09b4 49.82%,
    #9100f8 81.65%
  );
}

.btn-2 {
  color: var(--third-color);
  background-color: transparent;
  border: 1px solid #00ff88;
  padding: 12px 17px;
  border-radius: 50px;
}

/* head */

header {
  background-color: #1a0b2e;
}
.hero {
  background-image: url(media/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  width: 100%;
  border-bottom: 1px solid #412567;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Added this to ensure items line up vertically */
  padding: 30px 200px 20px;
}

nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}

nav h2 {
  font-size: 32px;
}

.mobile-menu {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
  margin-top: 40px;
}

.hero-img {
  position: relative;
  width: 400px;
  height: 400px;
}

.new {
  background-color: var(--third-color);
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  max-width: fit-content;
  padding: 8px 16px;
  border-radius: 20px;
  color: black;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
}

.main-img {
  width: 100%;
  height: 100%;
  background-image: url(media/hero-circle.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img img {
  max-width: 100%;
}

.hero-text {
  margin-bottom: 80px;
}
.hero-text h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 40px;
}

.hero-text p {
  color: rgba(255, 255, 255, 0.589);
  margin: 10px 0 24px 0;
}

/* about */

#about{
    background-color: var(--main-color);
    padding: 100px 0 100px 0;
}

.about-top{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.about-top p{
    max-width: 60rem;
}

#ab-bottom{
  margin-top: 20px;
}

hr{
  margin: 80px 0;
  border: 1px solid rgba(255, 255, 255, 0.171);
}

.about-bottom{
  display: flex;
  justify-content: space-around;
}

.about-box{
  text-align: center;
}
.about-box h2{
  font-size: 48px;
  margin-bottom: 2px;
  color:  var(--third-color);
}

/* Card/Grid */
#Cards{
  background-color: var(--sec-color);
  padding: 100px 0 100px 0;
}
.card-h2{
  max-width:fit-content;
  margin: 0 auto 50px;
}
.grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 30px;
grid-row-gap: 30px;
}

.box1 { grid-area: 1 / 1 / 3 / 2; }
.box2 { grid-area: 1 / 2 / 2 / 4; }
.box3 { grid-area: 2 / 2 / 3 / 4; }
.box4 { grid-area: 3 / 1 / 4 / 3; }
.box5 { grid-area: 3 / 3 / 4 / 4; }

.box{
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 40px;
}
.box h4{
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}
















@media screen and (max-width: 576px) {
  .hero {
    background-size: 150% auto;
    background-position: center;
  }
  .navbar {
    padding: 20px;
  }

  .navbar ul,
  .nav-btn {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero-img {
    width: 220px;
    height: 220px;
    top: 150px;
  }

  .main-img img {
    width: 60px;
  }

  .hero-text {
    margin-top: 100px;
  }
  .hero-text h1 {
    font-size: 40px;
  }

  .container {
    margin: 0 20px;
  }

  /* about */

  #about, #Cards{
    padding: 40px 0;
  }

  hr{
    margin: 40px 0;
  }
  .about-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-box h2{
    font-size: 40px;

  }

  /* Card/grid */

  .card-h2{
    font-size: 32px;
  }
  .grid{
    display: flex;
    flex-direction: column;
  }

  .box{
    padding: 24px;

  }

}




















@media screen and (min-width: 577px) and (max-width: 768px) {
  .navbar {
    padding: 30px 50px 20px;
  }
}
